/**
 * Copyright 2022 Franklin Siqueira.
 * SPDX-License-Identifier: Apache-2.0
 */

/* Group 1 */

position: absolute;
width: 208px;
height: 29.59px;
left: 112px;
top: 121px;



/* Group */

position: absolute;
left: 7.78%;
right: 83.9%;
top: 10.7%;
bottom: 86.69%;



/* Group */

position: absolute;
left: 7.78%;
right: 87.09%;
top: 10.74%;
bottom: 86.69%;



/* Vector */

position: absolute;
left: 7.78%;
right: 91.9%;
top: 10.74%;
bottom: 87.26%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 8.27%;
right: 90.69%;
top: 11.28%;
bottom: 86.69%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 9.51%;
right: 89.51%;
top: 11.28%;
bottom: 87.22%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 10.67%;
right: 88.97%;
top: 10.74%;
bottom: 87.26%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 11.13%;
right: 88.22%;
top: 10.96%;
bottom: 87.2%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 11.87%;
right: 87.09%;
top: 11.28%;
bottom: 87.2%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Group */

position: absolute;
left: 13.43%;
right: 83.9%;
top: 10.7%;
bottom: 87.24%;



/* Vector */

position: absolute;
left: 13.43%;
right: 86.26%;
top: 10.7%;
bottom: 87.26%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 13.92%;
right: 85.08%;
top: 11.27%;
bottom: 87.24%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Vector */

position: absolute;
left: 15.09%;
right: 83.9%;
top: 10.7%;
bottom: 87.24%;

/* Neutral Colors/White */
background: #FFFFFF;


/* Group */

position: absolute;
left: 17.54%;
right: 77.78%;
top: 11.48%;
bottom: 87.58%;



/* Vector */

position: absolute;
left: 17.54%;
right: 81.92%;
top: 11.49%;
bottom: 87.59%;

/* Platform Aliases/Texto base */
background: #C4C4CC;


/* Vector */

position: absolute;
left: 18.27%;
right: 81.26%;
top: 11.49%;
bottom: 87.59%;

/* Platform Aliases/Texto base */
background: #C4C4CC;


/* Vector */

position: absolute;
left: 18.88%;
right: 80.47%;
top: 11.49%;
bottom: 87.59%;

/* Platform Aliases/Texto base */
background: #C4C4CC;


/* Vector */

position: absolute;
left: 19.68%;
right: 79.75%;
top: 11.48%;
bottom: 87.58%;

/* Platform Aliases/Texto base */
background: #C4C4CC;


/* Vector */

position: absolute;
left: 20.4%;
right: 79.03%;
top: 11.49%;
bottom: 87.59%;

/* Platform Aliases/Texto base */
background: #C4C4CC;


/* Vector */

position: absolute;
left: 21.01%;
right: 78.52%;
top: 11.49%;
bottom: 87.58%;

/* Platform Aliases/Texto base */
background: #C4C4CC;


/* Vector */

position: absolute;
left: 21.69%;
right: 77.78%;
top: 11.48%;
bottom: 87.58%;

/* Platform Aliases/Texto base */
background: #C4C4CC;


/* Vector */

position: absolute;
left: 16.63%;
right: 83.06%;
top: 10.74%;
bottom: 86.73%;

background: #00B37E;
